.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2em 0;
    gap: 2em;
    max-width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    list-style: none;
}
.wrapper {
    padding: 4.5em 0 4.5em 0;
}
@media screen and (max-width: 736px) {
    .wrapper {
        padding: 3em 20px 3em 20px;
    }
}
.pricing-container {
    background: linear-gradient(15deg, #0000009b, #fff 65%);
}
/* #region pricing header */
.pricing-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pricing-title {
    /*! PREPROCESSOR: import .landing-regular FROM /css/typography.css */
    font-size: 2em;
}
.pricing-subtitle {
    /*! PREPROCESSOR: import .landing-regular FROM /css/typography.css */
    font-size: 1.7em;
    margin: 0 0 0.5em 0;
}
.pricing-description {
    /*! PREPROCESSOR: import .landing-regular FROM /css/typography.css */
    font-weight: 600;
    font-size: 1em;
}
/* #endregion */
/* #region prices */
.payment-options-container {
    border: 1px solid #62636f;
    border-radius: 8px;
    gap: 0;
    background: linear-gradient(to right top, #73747aa8, #62636fc8 50%);
}
.payment-option {
    padding: 2em;
}
.payment-option h3 {
    /*! PREPROCESSOR: import .landing-regular FROM /css/typography.css */
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 0.75em 0;
    border-bottom: 1px solid #62636f;
}
.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #f9f9f9;
    /*! PREPROCESSOR: import .text-body-1 FROM /css/typography.css */
    padding: 0.5em 0;
    border-bottom: 1px solid #62636f;
}
/* #endregion */
