out
venv
__pycache__
dev.bat
dev-*.bat
/src/public/js/lib/highlight.js
/src/public/js/lib/highlight-core.js
/src/public/js/lib/highlight-python.js
/src/public/js/lib/highlight-javascript.js
artifacts
