/* #region current usage */
.current-usage-view {
    max-width: 776px;
    margin: 0 auto;
}
.current-usage-view-cost-so-far {
    margin-top: 16px;
}
.current-usage-view-rows {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}
.current-usage-view-rows > *:nth-child(2) > * {
    background: #eee;
}
.current-usage-view-cost-so-far-title {
    /*! PREPROCESSOR: import .text-body-1 FROM /css/typography.css */
}
.current-usage-view-traces-since-period-start {
    /*! PREPROCESSOR: import .text-body-1 FROM /css/typography.css */
}
/* #region current usage row */
.user-usages-current-usage-row:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.user-usages-current-usage-row-trace-indices {
    display: flex;
    flex-direction: row;
    min-width: 10em;
}
.user-usages-current-usage-row-price-section {
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.user-usages-current-usage-row-price-calculation {
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.user-usages-current-usage-row {
    display: flex;
    flex-flow: row wrap;
    padding: 4px 0;
    border: 1px solid transparent;
    /*! PREPROCESSOR: import .text-body-2 FROM /css/typography.css */
}
/* #endregion */
.current-usage-view-total {
    /*! PREPROCESSOR: import .text-label-1 FROM /css/typography.css */
}
/* #endregion */
.user-usages-listing {
    padding: 16px 0;
}
