:root {
    --col-primary: #333;
    --col-primary-dark: #000;
    --col-primary-light: #666;
    --col-disabled: #ccc;
    --col-background: #f7f7f7;
    --icon-size-large: 1.5rem;
    --icon-size-medium: 1rem;
    --icon-size-small: 0.75rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* #region buttons */
/*! PREPROCESSOR: icon delete primary all-colors all-sizes */
/*! PREPROCESSOR: icon edit primary all-colors all-sizes */
/*! PREPROCESSOR: icon check primary all-colors all-sizes */
/*! PREPROCESSOR: icon more primary all-colors all-sizes */
/*! PREPROCESSOR: icon menu primary all-colors all-sizes */
/*! PREPROCESSOR: icon expand primary all-colors all-sizes */
/*! PREPROCESSOR: icon expandup primary all-colors all-sizes */
/* #endregion */
