/* #region form-group */
.resources-form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 40px;
}
@media screen and (max-width: 991px) {
    .resources-form-group {
        margin-bottom: 20px;
    }
}
.resources-form-group:has(input[type="checkbox"]) {
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.resources-form-group label {
    /*! PREPROCESSOR: import .text-label-1 FROM /css/typography.css */
}
.resources-form-group input,
.resources-form-group select {
    /*! PREPROCESSOR: import .text-body-1 FROM /css/typography.css */
}
.resources-form-help,
.resources-form-error {
    /*! PREPROCESSOR: import .text-body-2 FROM /css/typography.css */
}
/* #endregion */
/* #region buttons */
button[type="submit"] {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    padding: 10px;
}
@media screen and (max-width: 991px) {
    button[type="submit"] {
        margin-top: 10px;
        padding: 5px;
    }
}
/* #endregion */
/* #region search-controller */
.resources-search-controller {
    position: relative;
}
.resources-search-controller input {
    width: 100%;
}
.resources-search-controller-options-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: absolute;
}
.resources-search-controller-option {
    appearance: none;
    box-shadow: none;
    background-color: var(--col-background);
    border-radius: 0;
    border: none;
    text-align: left;
    margin: 0;
    padding: 10px;
}
.resources-search-controller-option:hover {
    background-color: #d3d3d3;
}
/* #endregion */
